# Challege Deep-Vision

> Gonzalo Zigarán

In [1]:
import utils

### Dataset

Nos generamos un dataset de prueba con Bounding boxes inventadas, con el formato de (x,y,w,h) y un score para cada una.

In [2]:
boxes = [(25, 50, 100, 200, 0.9), 
         (340, 95, 150, 78, 0.87), 
         (70, 200, 130, 120, 0.92), 
         (50, 50, 130, 80, 0.88)]

In [3]:
df = utils.create_df(boxes)

In [4]:
df.head(5)

      x      y      w      h     score
0  36.0   45.0  107.0  198.0  0.438543
1  65.0  188.0  128.0  131.0  0.483756
2  25.0   60.0  104.0  199.0  0.429839
3  78.0  208.0  129.0  119.0  0.851933
4  71.0  209.0  138.0  128.0  0.448530

In [5]:
B = df[['x', 'y', 'w', 'h']]
S = df['score']

## Greedy NMS

El método **NMS** sirve para a partir de un conjunto de *bounding boxes*, que identifican objetos, descartatodas las *bounding boxes* que se refieren al mismo objeto, dejando solo la que tiene mayor *score*.

En el archivo `utils.py` implementamos el método, junto con funciones auxiliares.

In [6]:
utils.nms(B, S)

        x      y      w      h  score
73   70.0  200.0  130.0  120.0   0.92
69   25.0   50.0  100.0  200.0   0.90
49   50.0   50.0  130.0   80.0   0.88
5   340.0   95.0  150.0   78.0   0.87

Podemos ver que obtenemos las *bounding boxes* que cargamos inicialmente.

In [7]:
utils.nms(B, S, 0.6)

        x      y      w      h     score
73   70.0  200.0  130.0  120.0  0.920000
69   25.0   50.0  100.0  200.0  0.900000
49   50.0   50.0  130.0   80.0  0.880000
5   340.0   95.0  150.0   78.0  0.870000
62   42.0   36.0  117.0   75.0  0.720824
25  353.0   81.0  155.0   75.0  0.578682
47  325.0  105.0  143.0   87.0  0.513202

Para otro valor de *threshold* aparecen nuevas *boxes*.

## NMS vs soft-NMS

El algoritmo propuesto en [Bodla, et al. "Soft-NMS--Improving Object Detection With One Line of Code."](http://openaccess.thecvf.com/content_iccv_2017/html/Bodla_Soft-NMS_--_Improving_ICCV_2017_paper.html) busca corregir un problema que presenta el algoritmo de **NMS**. 

El conflicto que aparece es cuando hay dos objetos muy cercanos en la imagen, lo que puede llevar a que tengan un *overlap* grande las *boungings boxes* que contengan alguno de los 2 objetos. Esto lleva a que se descarten las *bounding boxes* y quede la presencia de un único objeto. 

Para ello lo que hace el algoritmo de **soft-NMS** es, en vez de descartar los *bounding boxes* con un valor muy alto de overlap, dejarlo y cambiarle el score a la *bounding box* multiplicandolo por una función del IoU (que puede ser una gaussiana).